input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.action-btn {
    /* width: 100%; */
    width: calc(1/2 * 100% - 2rem);
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    
}
  
.action-btn:hover {
    background-color: #45a049;
}
  
.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1.2rem;
    margin: 0.2rem 0.5rem;
}



.form-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error {
  font-size: 1.5rem;
  color: red;
}